<sn-navbar></sn-navbar>
<app-header [title]="title"></app-header>
<div>
    <br>
    <label> Alegeti domeniul:</label>
    <select [(ngModel)]="test.domain">
      <option *ngFor="let field of fields" [value]="field.value">
        {{ field.viewValue }}
      </option>
    </select>

    <br><br>

    <label> Alegeti optiunea:</label>
    <select [(ngModel)]="opValue" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </option>
    </select>

    <br>

    <div *ngIf="opValue == 'level-time-0' || opValue == 'level-questions-1'">
      <label> Alegeti dificultate:</label>
      <select [(ngModel)]="test.difficulty">
        <option *ngFor="let level of levels" [value]="level.value">
          {{ level.viewValue }}
        </option>
      </select>
      <br>
    </div>

    <div *ngIf="opValue == 'level-time-0' || opValue == 'questions-time-2'">
      <label> Alegeti durata:</label>
      <select [(ngModel)]="test.time">
        <option *ngFor="let time of times" [value]="time.value">
          {{ time.viewValue }}
        </option>
      </select>
      <br>
    </div>

    <div *ngIf="opValue == 'level-questions-1' || opValue == 'questions-time-2'">
      <label> Alegeti numarul de intrebari:</label>
      <select [(ngModel)]="test.numberOfQuestions">
        <option *ngFor="let question of questions" [value]="question.value">
          {{ question.viewValue }}
        </option>
      </select>
    </div>
  <div class="padding-top-15">
    <button (click)="generateTest()" class="btn btn-primary">Genereaza!</button>
  </div>
</div>
