.stat {
  text-align: center;
  height: auto;
  padding: 20px;
  transition: all .2s ease-in-out;
}

.stat i {
  font-size: 3em;
  transition:  0.6s ease-out;
}

.stat i:hover {
  transform: rotateZ(360deg);
}

.weak {
  background-color: #e10021;
  border: 1px solid black;
  color: white;
}

.weak:hover {
  background-color: #ff4d00;
  transform: scale(1.1);
}

.medium {
  background-color: #f19900;
  border: 1px solid black;
  color: white;
}

.medium:hover {
  background-color: #eecc00;
  transform: scale(1.1);
}

.hard {
  background-color: #00ce1e;
  border: 1px solid black;
  color: white;
}

.hard:hover {
  background-color: #92ee09;
  transform: scale(1.1);
}

.col-sm-3 {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.delete {
  cursor: pointer;
  font-weight: bold;
}
