.stat {
  color: black;
  text-align: center;
  height: auto;
  padding: 20px;
  transition: all .2s ease-in-out;
}

.stat i {
  font-size: 3em;
  transition:  0.6s ease-out;
}

.stat i:hover {
  transform: rotateZ(360deg);
}

.even {
  background-color: lightcyan;
  border: 1px solid cyan;
}

.even:hover {
  background-color: #d2ffd4;
  transform: scale(1.1);
}

.odd {
  background-color: lightgreen;
  border: 1px solid #00eea0;
}

.odd:hover {
  background-color: #92ee09;
  transform: scale(1.1);
}

.col-sm-3 {
  display: block;
  margin: 0 auto;
}
