<sn-navbar></sn-navbar>
<div>
  <h3>Test was generated!</h3>
  <!--<h4>Display questions here!</h4>-->
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-10 custom-margin">
        <div class="bordered padding-bottom-15">
          <h2>
            <a (click)="countQuestion(-1)" class="padding-right-15"><i class="fa fa-arrow-left"
                                                                       aria-hidden="true"></i></a>
            Intrebarea {{questionCount}}
            <a (click)="countQuestion(+1)" class="padding-left-15"><i class="fa fa-arrow-right"
                                                                      aria-hidden="true"></i></a>
          </h2>

          <app-question [question]="questions[questionCount-1]"></app-question>

          <div class="col-sm-12 boxes">
            <span *ngFor="let question of questions; let index = index">
              <i class="fa fa-pencil-square-o orange" aria-hidden="true" title="Intrebarea curenta"
                 *ngIf="index == questionCount-1"></i>
              <i class="fa fa-check-square-o green" aria-hidden="true" title="Sari la intrebarea {{index+1}}"
                 *ngIf="question.value.answered && index != questionCount - 1" (click)="jumpTo(index)"></i>
              <i class="fa fa-share-square-o" aria-hidden="true" title="Sari la intrebarea {{index+1}}"
                 *ngIf="index != questionCount-1 && !question.value.answered" (click)="jumpTo(index)"></i>
            </span>
          </div>
        </div>
        <div class="col-sm-12 padding-top-15">
          <div class="col-sm-3 float-left">
            <button class="btn btn-primary" (click)="testService.isGenerated=false">ABORT</button>
          </div>
          <div class="col-sm-6 float-left">
            <app-countdown [input]="currentDate"></app-countdown>
          </div>
          <div class="col-sm-3 float-right">
            <button class="btn btn-primary" (click)="submitTest()">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
