.align-center {
  text-align: center;
}
.container {
  border: 1px solid lightgray;
  padding: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.custom-margin {
  margin-left: 18%;
}

.bordered {
  border: 1px solid lightgray;
}
