.align-center {
  text-align: center;
}
.container {
  border: 1px solid lightgray;
  padding: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.custom-margin {
  margin-left: 10%;
}

.bordered {
  border: 1px solid lightgray;
  height: 240px;
}

.boxes i {
  padding-right: 5px;
  padding-top:10px;
  font-size: 1.6em;
  cursor: pointer;
}

.boxes {
  padding-top: 1.5%;
}

.green {
  color: green;
}

.orange {
  color: orange;
}
